!pip install streamlit
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install tensorflow
!pip install keras
!pip install os 
!pip install pillow
!pip install os
!pip install numpy
